*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: linear-gradient(to left, rgb(212, 81, 81), rgb(253, 253, 147));
}
p
{
    background-color:#68f3dc59;
    padding: 10px;
    margin: 20px;
    border: 1px solid #e7dada;
    color: rgb(238, 222, 202);
}